/*------------------------Body 1------------------------*/
.h{
    text-align: center;
    font-size:40px;
    width: 100%;
    font-weight: bold;
    border-bottom-color: #0E0F0F;
    margin-bottom: 40px;
        
    }
  
    .text{
      font-size: 20px;
      color: #5A5F5F;
      text-align:center;
      width: 96%;
      margin:0vw 1vw;
  }
  
  
  .text{
      width: 900px;
      margin: 0 auto;
      font-family: "italic";
      font-weight: 300;
      text-align: justify;
      line-height:19pt;
      text-align:center;
      width: 96%;
      margin:0vw 1vw;
  }
  
  .boton{
    width: 305px;
    height: 55px;
    background: #5DA9DD;
    font-weight: bold; 
    border-radius: 0px;
    transition-duration: 0s;
   
   
  }
  .boton{
    font-size: 20px;
    position: static;
    color: #0A0909; 
    border: 2px #0B0A0A solid; 
    font-weight: bold; 
  }
  .boton:hover{
    text-align: center;
    font-size:27px;
    
  }
  
  
  .Middle-block{
    padding: 55px 20px;
    text-align: center;
    font-size: .875em;
    display: block;
    width: 100%;
    z-index: 4;
    color: #090A0A;
    text-align: center;
    font-size: 82px;
    line-height: .8;
  }
  
  .Middle-block1{
    padding: 55px 20px;
    text-align: center;
    font-size: .875em;
    display: none;
    width: 100%;
    z-index: 4;
    color: #090A0A;
    text-align: center;
    font-size: 82px;
    line-height: .8;
  }
  .gracias{
    text-align: center;
    width: 50%; 
    margin: auto;
    display: none;
    
}
.gracias1{
    display: block;
    text-align: center;
    width: 50%; 
    margin: auto;
    }
#gracias h1{
    font-weight: bold;
    color: black;
    margin-bottom:40px; 
}

#gracias p{
    width: 72%;
    margin-left: 13.5%;
    margin-right: 13.5%;
}
#thank{
    width: 50%;  
    padding-right: 1%;  
}
#upload{
    width: 50%;
    float: right;
    margin-top: -18px;
    border-left:solid 1px black;
}
  /*--------------End----------*/
/*Styles Challenge:*/
/*Boton Next*/
.Textarea{
    width:90%;
    height:300px;
    font-size:16px;
    font-family:Arial
}
#Next{
    position: static;
    color: #000000; 
    border: 2px #000000 solid; 
    padding: 12px 80px 12px 80px; 
    background-color: #FFFFFF; 
    font-size: 25px;
    font-weight: bold; 
    transition:background  0s, color 0s; 
}

/*Boton Next Animacion*/
#Next:hover{
    border: 2px #11B530 solid;
    background-color: #11B530;
    color: #FFFFFF; 
    cursor: pointer;
}
/*Icono del chulito azul*/
#icon-ok{
       
    color: #1ED022;
}
/*Bordes y colores que estan alrededor de los chulitos*/

.center{
    width: 100%;
    justify-content: center;
}
.fill{
    width: 40%;
    padding: 0px 10px 0px 10px; 
}
.colum{
    border: 1.5px solid #000000;
    padding: 19px 20px 19px 20px; 
    border-radius: 100px;
    background-color: #E8E8E8;
    margin: 5px;
}
.Space{
    padding: 30px 30px 30px 30px; 
}
.Space_1{

    width: 95%;
    position: relative;

}
.top{
    margin-top: 5%;
    display: none;
}

.top1{
    margin-top: 5%;
    display: block;
}

.barra{
    align-content: right;
    width: 100%;
    margin: 1em;
    padding: 4px;
    border: 2px #000000 solid; 
    background: #FFFFFF;

}
.barra::-moz-progress-bar {

  background: #3BE94D;

  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
.barra::-webkit-progress-bar {
    background: transparent;
}  
.barra::-webkit-progress-value {  

  background: #3BE94D;

} 

#Linea{
    padding: 0px 0px 200px 0px;
    border-right: 1px solid #000000;
}

@media screen and (max-width:900px) {
    #Linea{
        padding: 0px 0px 0px 0px;
        border-top: 1px solid #000000;
        
    }
    .Space_1{
        justify-content: center;
        width: 95%;
        position: relative;

    }
    .ty{
       
        text-align: center;
        justify-content: center;
        
      
    }
    .input{
        justify-content: center;
        align-items: center;
        display: flex;
        
    }
    .Textarea{
        width:100%;
        height:280px;
        font-size:16px;
        font-family:Arial
    }
    
}
@media screen and (min-width:900px ){

        .center{
            display: flex;
            justify-content: center;
        }
    }